html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../media/hintergrundbild.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #333;
}

h1 {
    color: black;
    font-size: 50;
}

h2 {
    color: gray;
    font-size: 30;
}

h3 {
    color: black;
    font-size: 20;
}

a {
    color: black;
}

a:hover {
    color: DarkRed;
}

th {
    text-align: left;
}

#main {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
}

.main-overview {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2em;
    min-height: auto;
}

#main-wrapper {
    position: relative;
    min-height: 100%;
    min-width: 500px;
}

.box {
    border: 6px solid DarkRed;
    background-color: hsla(0, 0%, 100%, 0.9);
    width: 50%;
    max-width: 500px;
    min-width: 330px;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.widebox {
    border: 3px solid DarkRed;
    background-color: hsla(0, 0%, 100%, 0.9);
    width: 70%;
    max-width: 70em;
    min-width: 335px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 10px;
}

.widebox h1,
h2,
h3 {
    color: black;
}

.mysidebox {
    position: relative;
    border: 3px solid DarkRed;
    background-color: hsla(0, 0%, 100%, 0.9);
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 20em;
}

.monitor-holder {
    position: relative;
    border: 3px solid DarkRed;
    background-color: hsla(0, 0%, 100%, 0.9);
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20em;
}

.spaceline {
    size: 5px;
    height: 3px;
    width: 100%;
    border: 0;
    color: black;
    background-color: darkred;
    margin: 0;
    padding: 0;
}

.mysidebox a, button {
    align-self: center;
    width: 60%;
}

.map-style {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 10px;
}

.map {
    height: 25em;
}

.log {
    display: flex;
    flex-direction: column;
    min-height: 25em;
}

.log h2 {
    text-align: left;
    margin: 0.5em 0.7em 0.2em 0.7em;
    padding: 0;
}

.log-box {
    margin: 0 1em;
    min-width: 90%;
    min-height: 70%;
    border: 1px solid black;
}

.right {
    width: 80%;
}

.einsatz-nachricht {
    margin-left: 1em;
    text-align: left;
}

.mybtn {
    border: 2px solid white;
    background-color: darkred;
    padding: 0.5em;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.mybtn:hover {
    color: white;
}

#box-text {
    border-left: 6px solid DarkRed;
    background-color: hsla(0, 0%, 100%, 0.9);
    width: 60%;
    max-width: 700px;
    min-width: 330px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
}

#heading {
    vertical-align: center;
    width: 80%;
    min-width: 330px;
    margin: 0 auto;
    padding: 1px;
}

#bewertung {
    display: none;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 30px;
    max-width: 500px;
    margin: auto;
    margin-top: -3em;
    background-color: hsla(0, 0%, 50%, 0.9);
    text-align: center;
    bottom: 0;
    border-radius: 10px;
}

#footer-text {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

#fz {
    font-size: 75px;
    text-align: center;
    min-width: 350px;
    min-height: 200px;
    max-height: 400px;
    height: 27%;
    border: 5px solid gray;
    color: gray;
    line-height: 80%;
    flex: 1 0;
}

#fz_alarm {
    -webkit-animation: redblink 1s;
    -webkit-animation-iteration-count: infinite;
    background-color: darkred;
    font-size: 75px;
    text-align: center;
    min-width: 350px;
    min-height: 200px;
    max-height: 400px;
    height: 27%;
    border: 5px solid gray;
    color: gray;
    line-height: 80%;
    flex: 1 0;
}

@-webkit-keyframes redblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: DarkRed;
    }

    to {
        background-color: transparent;
    }
}

@keyframes redblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: DarkRed;
    }

    to {
        background-color: transparent;
    }
}

@-webkit-keyframes yellowblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: #ffff00;
    }

    to {
        background-color: transparent;
    }
}

@keyframes yellowblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: #ffff00;
    }

    to {
        background-color: transparent;
    }
}

@-webkit-keyframes warnblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: #ff0000;
    }

    to {
        background-color: transparent;
    }
}

@keyframes warnblink {
    from {
        background-color: transparent;
    }

    50% {
        background-color: #ff0000;
    }

    to {
        background-color: transparent;
    }
}

@media screen and (max-width: 1300px) {
    textarea {
        width: 540px;
        height: 150px;
    }

    #infofenster {
        width: 98%;
        float: left;
        padding-bottom: 20px;
        margin-top: 20px;
        position: relative;
        bottom: 0px;
        min-width: 550px;
        max-height: 580px;
    }

    #einsatz_aktuell {
        width: 98%;
        height: 85%;
        float: left;
        position: relative;
        min-width: 550px;
    }

    #fms {
        width: 98%;
        height: 85%;
        float: left;
        position: relative;
        min-width: 550px;
    }

    #steuerungsfenster {
        width: 98%;
        margin-top: 20px;
        padding-bottom: 20px;
        position: relative;
        min-width: 550px;
        max-height: 400px;
    }

    #box {
        width: 95%;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
    }

    #box-text {
        width: 50%;
        margin: 0 auto;
    }

    footer {
        clear: both;
        position: relative;
        z-index: 10;
        height: 2em;
        margin-top: -3em;
        width: 100%;
        min-width: 500px;
    }
}

.button {
    background-color: DarkRed;
    border: none;
    color: black;
    padding: 15px 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 80px;
    cursor: default;
}

.button_disabled {
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 80px;
    cursor: not-allowed;
}

.button:hover {
    background-color: white;
    color: DarkRed;
    cursor: default;
}

#submit {
    background-color: DarkRed;
    border: 3px solid darkred;
    color: white;
    padding: 15px 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 80px;
    border-radius: 10px;
}

#submit:hover {
    background-color: white;
    border: 3px solid darkred;
    color: DarkRed;
}